core/ioc/beans.dtd

<!ELEMENT beans (bean*)>
<!ELEMENT bean (constructor-arg*,peel*)>
<!ATTLIST bean 
    id      ID      #REQUIRED
    class   CDATA   #REQUIRED
>
<!ELEMENT constructor-arg EMPTY>
<!ATTLIST constructor-arg
    index   CDATA   #IMPLIED
    value   CDATA   #REQUIRED
    type    (int|str|float) #IMPLIED
>
<!ELEMENT peel (constructor-arg*)>
<!ATTLIST peel
    for     CDATA   #REQUIRED
    class   CDATA   #IMPLIED
>